{% extends 'base2.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% block title %}Entrar{% endblock %}
{% block content %}

<section>
     <br>
     <br>
     <br>

    <div class="col-md-6 offset-md-3">
            <div class="card auth-card">
                <div class="card-body">
                    <br>
                    <h2 class="card-title text-center"><b>Entrar</b></h2>
                    <form method="POST">
                        {% csrf_token %}
                        {{form|bootstrap}}
                        <br>
                        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                    </form>
                    <br>
                    <br>
                   <p align="center"><b>Não possui uma conta ? <a href="/registro/">Registre-se</a></b></p>
                    <p align="center"><b>Esqueceu sua senha ? <a href="/resetar-senha/email/">Resetar senha</a></b></p>
                </div>
            </div>
    </div>
     <br>
    <br>
    <br>
     <br>

</section>


{%endblock%}