{% extends 'base.html' %}
{% load bootstrap%}
{% load static %}
{% load staticfiles %}
{% block title %}Adicionar Favorito{% endblock %}
{% block content %}

<section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="col-md-4 offset-md-4">
        <div class="card auth-card">
            <div class="card-body">
                <form method="POST" >
                    {% csrf_token %}
                    <p>Selecione o ramal que você deseja adicionar no seus favoritos :</p>
                    <br>
                    {{form|bootstrap}}
                    <br>

                    <button type="submit" class="btn btn-primary btn-block">Adicionar Favorito</button>

                </form>
            </div>
        </div>
    </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
</section>
{% endblock %}