{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap%}
{% block title %}Cadastro de Unidade{% endblock %}

{% block content %}
<section>
    <br>
    <br>
    <br>
    <div class="col-md-6 offset-md-3">
        <div class="card auth-card">
            <div class="card-body">
                <br>
                <h2 align="center"><b>Cadastro Unidade</b></h2>
                <form  method = "POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <br>
                    {{form|bootstrap}}
                    <br>
                    <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

</section>
{% endblock %}