{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}Cadastro de Unidade{% endblock %}

{% block content %}
<div>
    <br>
    <br>
    <br>
</div>

<div class="col-md-6 offset-md-3">
    <div class="card auth-card">
        <div class="card-body">
        <br>
            <h2 align="center"><b>Cadastro Unidade</b></h2>
            <form  method = "POST" enctype="multipart/form-data">
                {% csrf_token %}
                <br>
                <label><b>Nome Completo</b></label>
                <br>
                <input type="text" name="nome_completo" maxlength="70" class="textinput textInput form-control" required="" id="id_nome_completo" placeholder="Digite o nome completo da unidade">
                <br>
                <br>
                <label>Sigla</label>
                <br>
                <input type="text" name="sigla" maxlength="10" placeholder="Digite a sigla da unidade" class="textinput textInput form-control" required="" id="id_sigla">
                <br>
                <br>
                <label>Descrição</label>
                <textarea name="descrição" cols="40" rows="10" class="textarea form-control" required="" id="id_descrição"></textarea>
                <br>
                <br>
                <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>

            </form>
        </div>
    </div>
</div>
<div>
<br>
<br>
<br>
<br>
</div>
{% endblock %}