{% extends 'base.html' %}
{% load bootstrap%}
{% load static %}
{% load staticfiles %}
{% block title %}Editar Usuário{% endblock %}
{% block content %}
<section>
    <br>
    <br>
    <br>
    <div class ="col-md-6 offset-md-3">
        <div class="card auth-card">
            <div class="card-body">
                <h2 align="center"><b>Editar Usuário</b></h2>
                <br>
                <form method ="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|bootstrap}}
                    <br>
                    <button type="submit" class="btn btn-primary btn-block">Editar</button>
                </form>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
    </div>
</section>
{% endblock %}

