{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Ramais Sebrae{% endblock %}
{% block content %}
<main>
    <section> <!-- SESSÃO DOS FAVORITOS -->
        <br>
        {% if user.is_authenticated %}
            <button class="btn btn-primary" style="margin-left:18px;" type="button" data-toggle="collapse" data-target="#adm" aria-expanded="false" aria-controls="collapseExample">Favoritos</button>&nbsp
            <div class="collapse" id="adm">
            <br>
            <div class="container">
                <h5><a href="/adc-favoritos/"><i class="fas fa-user-plus"></i></a></h5>
                  {% for favoritos in favorito %}
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Foto</th>
                                        <th>Nome</th>
                                        <th>Ramal</th>
                                        <th>E-mail</th>
                                        <th>Whatsapp</th>
                                        <th>Aniversário</th>
                                        <th>Função</th>
                                        <th>Edição</th>

                                    </tr>
                                </thead>
                           {{ "<!--" }}
                        {%endfor%}
                       <span style="display: none;"{{ "-->" }}</span>
                        <tbody>
                            <tr>
                             {% for favoritos in favorito %}
                                    <td><img src="/media/{{ramal.foto}}" alt="foto-de-perfil"class = "img-div"></td>
                                    <td>{{favoritos.ramais.nome}}</td>
                                    <td>{{favoritos.ramais.ramal}}</td>
                                    <td>{{favoritos.ramais.user.email}}</td>
                                    <td>{{favoritos.ramais.whatsapp}}</td>
                                    <td> {{favoritos.ramais.dia_de_nascimento}}/{{favoritos.ramais.mes_de_nascimento}}</td>
                                    <td>{{favoritos.ramais.Função}}</td>
                                    <td><a href="/deletar-favorito/{{favoritos.id}}" class="confirmar" onclick="return confirm('Voce deseja deletar esse favorito ?')"><i class="fas fa-times"></i></a></td>
                            </tr>
                        </tbody>
                                         {% endfor %}
                        </table>
                        </div>
                    </div>
                </div>
        {%endif%}
    </section>

   <div class="Mensagens">
        {% if messages %}
            <br>
            <br>
            <div class="msg">
                <ul>
                    {% for message in messages %}
                         <li>{% if message.tags %}{% endif %}<p class="msgp">{{ message }}</p></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    <section> <!-- Seção aniversário -->
        <div class="feliz aniversario">
        {% for ramal in ramais %}
            {% if ramal.dia_de_nascimento ==  hora.day and ramal.mes_de_nascimento ==  hora.month or ramal.dia_de_nascimento >= hora.day and ramal.dia_de_nascimento <= semana and ramal.mes_de_nascimento ==  hora.month %}
                <hr>
                <br>
                <p class ="parabens" align="center"><b><img src="{% static 'imagens/parabens.jpeg' %}" class="balao"alt="balao-de-aniversario">Feliz aniversário <img src="{% static 'imagens/parabens.jpeg' %}" class="balao1"alt="balao-de-aniversario"></b></p>
                    {{ "<!--" }}
                        {%endif%}
                        {%endfor%}
                       <span style="display: none;"{{ "-->" }}</span>
        </div>
        {% for ramal in ramais %}
            {% if ramal.dia_de_nascimento ==  hora.day and ramal.mes_de_nascimento ==  hora.month %}
            <br>
            <p align="center">Confira quem são os aniversariantes do dia :</p>
            {{ "<!--" }}
           {%endif%}
            {%endfor%}
            <span style="display: none;"{{ "-->" }}</span>
         {% for ramal in ramais %}
            {% if ramal.dia_de_nascimento ==  hora.day and ramal.mes_de_nascimento ==  hora.month %}
                  <div align="center" >
                      <div class="col-md-5 ">
                         <div class="ramais">
                             <br>
                             <img src="/media/{{ramal.foto}}" alt="foto-de-perfil"class = "img3-div">
                            <div align="center">
                                <h5 class="p-ani">{{ramal.nome}}</h5>
                                <p class="p-ani">{{ramal.dia_de_nascimento}}/{{ramal.mes_de_nascimento}}</p>
                                <p class="p-ani">{{ramal.whatsapp}}</p>
                            </div>
                            <p class="p-ani2">{{ramal.unidade.nome_completo}}</p>
                            <p class="p-ani2">{{ramal.Função}}</p>
                            <p class="p-ani2">{{ramal.ramal}}</p>
                            <hr style ="border: 1px solid #ddd">
                            <p align="left" class="esquerda">{{ramal.unidade}}</p>
                            <p align="center" style="color:white">{{ramal.user.email}}</p>
                         </div>
                      </div>
                  </div>
        <br>
        <br>
    {%endif%}
{%endfor%}


          {% for ramal in ramais %}
            {%  if ramal.dia_de_nascimento > hora.day and ramal.dia_de_nascimento <= semana and ramal.mes_de_nascimento ==  hora.month  %}
                  <br>
                <p align="center">Confira quem são os aniversariantes da semana :</p>
               {{ "<!--" }}
               {%endif%}
                {%endfor%}
                <span style="display: none;"{{ "-->" }}</span>
         {% for ramal in ramais %}
            {%  if ramal.dia_de_nascimento > hora.day and ramal.dia_de_nascimento <= semana and ramal.mes_de_nascimento ==  hora.month  %}
                  <div align="center" >
                      <div class="col-md-5 ">
                         <div class="ramais">
                             <br>
                             <img src="/media/{{ramal.foto}}" alt="foto-de-perfil"class = "img3-div">
                            <div align="center">
                                <h5 class="p-ani">{{ramal.nome}}</h5>
                                <p class="p-ani">{{ramal.dia_de_nascimento}}/{{ramal.mes_de_nascimento}}</p>
                                <p class="p-ani">{{ramal.whatsapp}}</p>
                            </div>
                            <p class="p-ani2">{{ramal.unidade.nome_completo}}</p>
                            <p class="p-ani2">{{ramal.Função}}</p>
                            <p class="p-ani2">{{ramal.ramal}}</p>
                            <hr style ="border: 1px solid #ddd">
                            <p align="left" class="esquerda">{{ramal.unidade}}</p>
                            <p align="center" >{{ramal.user.email}}</p>
                         </div>
                      </div>
                  </div>
        <br>
        <br>
    {%endif%}
{%endfor%}
    </section> <!-- FIM DA SEÇÃO ANIVERSÁRIO -->

    <hr>
    <br>
    <h1 align="center"><b>Lista de Ramais Sebrae</b></h1>
    <br>
    <section> <!-- Seção dos Ramais -->
        <div class="container">
            {% for unidades in unidade %}
                <br>
                {% if unidades.unidade__sigla == None %}
                     <h3>SEM UNIDADE</h3>
                      <p>Verifique seu perfil e escolha uma unidade</p>
                {% else %}
                    <h3><a href="/unidade/{{unidades.unidade__sigla}}">{{unidades.unidade__sigla}}</a></h3>
                {% endif%}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Nome</th>
                                <th>Ramal</th>
                                <th>E-mail</th>
                                <th>Whatsapp</th>
                                <th>Aniversário</th>
                                <th>Função</th>
                                {% if user.is_superuser %}
                                    <th>Edição</th>
                                {%endif%}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            {% for ramal in ramais %}
                                {% if unidades.unidade__sigla == ramal.unidade.sigla %}
                                    <td><img src="/media/{{ramal.foto}}" alt="foto-de-perfil"class = "img-div"></td>
                                    <td>{{ramal.nome}}</td>
                                    <td>{{ramal.ramal}}</td>
                                    <td>{{ramal.user.email}}</td>
                                    <td>{{ramal.whatsapp}}</td>
                                    <td> {{ramal.dia_de_nascimento}}/{{ramal.mes_de_nascimento}}</td>
                                    <td>{{ramal.Função}}</td>
                                    {% if user.is_superuser %}
                                        {% for unidade in unidades %}
                                            {% if forloop.first %}
                                                {% if user.ramais.unidade == ramal.unidade and user.ramais.unidade != None  %}
                                                     <td><a href = "/editar-perfil/{{ramal.id}}"><i class="fas fa-clipboard-list"></i></a>&nbsp<a href="/delete/{{ramal.user.id}}" class="confirmar" onclick="return confirm('Voce deseja deletar esse ramal ?')"> <i class="fas fa-trash"></i></a></td>
                                                {% else %}
                                                    <td>Sem permissão</td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                            </tr>
                        </tbody>
                        {%endif%}
                    {%endfor%}
                </table>

                </div>
            <br>
         {%endfor%}
        </div>
        <br>
        <div align="center">
        <span class="step-links">
            {% if unidade.has_previous %}
                <a href="?page={{ unidade.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}

            {% if unidade.paginator.num_pages %}
            <span class="current">
                {{ unidade.number }} de {{ unidade.paginator.num_pages }}
            </span>
            {% endif %}

            {% if unidade.has_next %}
                <a href="?page={{ unidade.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
            {% endif %}
        </span>
    </div>
</div>
    </section> <!-- FIM DE SESSÃO RAMAIS -->
 </main>

<div>
     <br>
     <br>
     <br>
</div>
{% endblock %}