{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Ramais Sebrae{% endblock %}
{% block content %}
<main>
<section> <!-- SESSÃO DOS FAVORITOS -->
        <br>
        {% if user.is_authenticated %}
            <button class="btn btn-primary" style="margin-left:18px;" type="button" data-toggle="collapse" data-target="#adm" aria-expanded="false" aria-controls="collapseExample">Favoritos</button>&nbsp
            <div class="collapse" id="adm">
            <br>
            <div class="container">
                <h5><a href="/adc-favoritos/"><i class="fas fa-user-plus"></i></a></h5>
                  {% for favoritos in favorito %}
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Foto</th>
                                        <th>Nome</th>
                                        <th>Ramal</th>
                                        <th>E-mail</th>
                                        <th>Whatsapp</th>
                                        <th>Aniversário</th>
                                        <th>Função</th>
                                        <th>Edição</th>

                                    </tr>
                                </thead>
                           {{ "<!--" }}
                        {%endfor%}
                       <span style="display: none;"{{ "-->" }}</span>
                        <tbody>
                            <tr>
                             {% for favoritos in favorito %}
                                    <td><img src="/media/{{ramal.foto}}" alt="foto-de-perfil"class = "img-div"></td>
                                    <td>{{favoritos.ramais.nome}}</td>
                                    <td>{{favoritos.ramais.ramal}}</td>
                                    <td>{{favoritos.ramais.user.email}}</td>
                                    <td>{{favoritos.ramais.whatsapp}}</td>
                                    <td> {{favoritos.ramais.dia_de_nascimento}}/{{favoritos.ramais.mes_de_nascimento}}</td>
                                    <td>{{favoritos.ramais.Função}}</td>
                                    <td><a href="/deletar-favorito/{{favoritos.id}}" class="confirmar" onclick="return confirm('Voce deseja deletar esse favorito ?')"><i class="fas fa-times"></i></a></td>
                            </tr>
                        </tbody>
                                         {% endfor %}
                        </table>

                        </div>
                    </div>
                </div>
            <br>

        {%endif%}
    </section>

     <div class="feliz aniversario">
            {% for ramal in ramais %}
                {% if ramal.dia_de_nascimento ==  hora.day and ramal.mes_de_nascimento ==  hora.month or ramal.dia_de_nascimento >= hora.day and ramal.dia_de_nascimento <= semana and ramal.mes_de_nascimento ==  hora.month %}
                    {% if user.is_authenticated %}
                        <hr>
                   {%endif%}
                    <br>
                    <p class ="parabens" align="center"><b><img src="{% static 'imagens/parabens.jpeg' %}" class="balao"alt="balao-de-aniversario">Feliz aniversário <img src="{% static 'imagens/parabens.jpeg' %}" class="balao1"alt="balao-de-aniversario"></b></p>
                        {{ "<!--" }}
                            {%endif%}
                            {%endfor%}
                           <span style="display: none;"{{ "-->" }}</span>
     </div>
   {% for ramal in ramais %}
              {% if ramal.dia_de_nascimento ==  hora.day and ramal.mes_de_nascimento ==  hora.month %}
    <div align="center">
                <br>
                <p align="center">Confira quem são os aniversariantes do dia :</p>
                <br>

    </div>
        {{ "<!--" }}
                           {%endif%}
                            {%endfor%}
                            <span style="display: none;"{{ "-->" }}</span>
<div class="container" >
    <div style="width: 100%;text-align: center;" >
        {% for ramal in ramais %}
            {% if ramal.dia_de_nascimento ==  hora.day and ramal.mes_de_nascimento ==  hora.month %}
                <div class="img"  >
                    {% if not ramal.foto%}
                        <img src="{% static 'imagens/user.png' %}" width="300" height="200">
                    {% else %}
                    <img src="/media/{{ramal.foto}}" alt="foto-de-perfil" width="300" height="200">
                    {% endif%}
                    <span class="tooltiptext" >
                        <div style="overflow-x:auto;">
                            <p class="p-ani2"><b>Data de Nascimento : </b>&nbsp{{ramal.dia_de_nascimento}}/{{ramal.mes_de_nascimento}}</p>
                            <p class="p-ani2"><b>Whatsapp : </b>{{ramal.whatsapp}}</p>
                            <p class="p-ani2"><b>Email : </b>{{ramal.user.email}}</p>
                            <p class="p-ani2"><b>Função : </b>{{ramal.Função}}</p>
                            <p class="p-ani2"><b>Ramal : </b>{{ramal.ramal}}</p>
                            <p class="p-ani2"><b>Unidade : </b>{{ramal.unidade}}</p>
                        </div>
                    </span>

                  <div class="desc">{{ramal.nome}}</div>
                </div>

         {%endif%}
            {%endfor%}
    </div>
    <br>
</div>
    {% for ramal in ramais %}
        {%  if ramal.dia_de_nascimento > hora.day and ramal.dia_de_nascimento <= semana and ramal.mes_de_nascimento ==  hora.month  %}
        <div class="container" >
                <br>
                <p align="center">Confira quem são os aniversariantes da semana :</p>
                <br>
            </div>
                 {{ "<!--" }}
                           {%endif%}
                            {%endfor%}
                            <span style="display: none;"{{ "-->" }}</span>
<div class="container">
    <div style="width: 100%;text-align: center;">
        {% for ramal in ramais %}
            {%  if ramal.dia_de_nascimento > hora.day and ramal.dia_de_nascimento <= semana and ramal.mes_de_nascimento ==  hora.month  %}
                <div class="img"  >
                    {% if not ramal.foto%}
                        <img src="{% static 'imagens/user.png' %}" width="300" height="200">
                    {% else %}
                    <img src="/media/{{ramal.foto}}" alt="foto-de-perfil" style=" width:300;height=:100;">
                    {% endif%}
                    <span class="tooltiptext" >
                     <div style="overflow-x:auto;">
                            <p class="p-ani2"><b>Data de Nascimento : </b>&nbsp{{ramal.dia_de_nascimento}}/{{ramal.mes_de_nascimento}}</p>
                            <p class="p-ani2"><b>Whatsapp : </b>{{ramal.whatsapp}}</p>
                            <p class="p-ani2"><b>Email : </b>{{ramal.user.email}}</p>
                            <p class="p-ani2"><b>Função : </b>{{ramal.Função}}</p>
                            <p class="p-ani2"><b>Ramal : </b>{{ramal.ramal}}</p>
                            <p class="p-ani2"><b>Unidade : </b>{{ramal.unidade}}</p>
                    </div>
                    </span>
                  <div class="desc">{{ramal.nome}}</div>
                </div>

         {%endif%}
            {%endfor%}
    </div>
    <br>
</div>


<br>

    {% for ramal in ramais %}
        {% if ramal.dia_de_nascimento ==  hora.day and ramal.mes_de_nascimento ==  hora.month or ramal.dia_de_nascimento >= hora.day and ramal.dia_de_nascimento <= semana and ramal.mes_de_nascimento ==  hora.month or user.is_authenticated  %}

    <hr>
    {{ "<!--" }}
                           {%endif%}
                            {%endfor%}
                            <span style="display: none;"{{ "-->" }}</span>
    <h1 align="center"><b>Lista de Ramais Sebrae</b></h1>
    <br>
    <section> <!-- Seção dos Ramais -->
        <div class="container">
            {% for unidades in unidade %}
                <br>
                {% if unidades.unidade__sigla == None %}
                     <h3>SEM UNIDADE</h3>
                      <p>Verifique seu perfil e escolha uma unidade</p>
                {% else %}
                    <h3><a href="/unidade/{{unidades.unidade__sigla}}">{{unidades.unidade__sigla}}</a></h3>
                {% endif%}
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                                    <th>Foto</th>
                                    <th>Nome</th>
                                    <th>Ramal</th>
                                    <th>E-mail</th>
                                    <th>Whatsapp</th>
                                    <th>Aniversário</th>
                                    <th>Função</th>
                                    {% if user.is_superuser %}
                                        <th>Edição</th>
                                    {%endif%}
                                </tr>
                            </thead>
                        <tbody>
                            <tr>
                            {% for ramal in ramais %}
                                {% if unidades.unidade__sigla == ramal.unidade.sigla %}
                                    {% if not ramal.foto %}
                                        <td><img src="{% static 'imagens/user.png' %}" class = "img-div"></td>
                                    {% else %}
                                         <td><img src="/media/{{ramal.foto}}" alt="foto-de-perfil"class = "img-div"></td>
                                     {% endif%}
                                    <td>{{ramal.nome}}</td>
                                    <td>{{ramal.ramal}}</td>
                                    <td>{{ramal.user.email}}</td>
                                    <td>{{ramal.whatsapp}}</td>
                                    <td> {{ramal.dia_de_nascimento}}/{{ramal.mes_de_nascimento}}</td>
                                    <td>{{ramal.Função}}</td>
                                    {% if user.is_superuser %}
                                        {% for unidade in unidades %}
                                            {% if forloop.first %}
                                                {% if user.ramais.unidade == ramal.unidade and user.ramais.unidade != None  %}
                                                     <td><a href = "/editar-perfil/{{ramal.id}}"><i class="fas fa-clipboard-list"></i></a>&nbsp<a href="/delete/{{ramal.user.id}}" class="confirmar" onclick="return confirm('Voce deseja deletar esse ramal ?')"> <i class="fas fa-trash"></i></a></td>
                                                {% else %}
                                                    <td>Sem permissão</td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                            </tr>
                        </tbody>
                        {%endif%}
                    {%endfor%}
                </table>

                </div>
            <br>
         {%endfor%}
        </div>
        <br>


        <nav aria-label="Page navigation example">
        <div class="pagination" style="justify-content: center;">
            {% if unidade.has_previous %}
              <li class="page-item" >
              <a class="page-link"  href="?page=1" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Anterior</span>
              </a>
               </li>
                      <li class="page-item"><a class="page-link" href="?page={{ unidade.previous_page_number }}">Anterior</a></li>
            {% endif %}
            {% for num in unidade.paginator.page_range %}
                {% if unidade.number == num %}
                        <li class="page-item"><a class="page-link"><strong>{{num}}</strong></a></li>

                {% elif num > unidade.number|add:'-3' and num < unidade.number|add:'3' %}
             <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if unidade.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ unidade.next_page_number }}">Próxima</a></li>
             <li class="page-item">
              <a class="page-link" href="?page={{ unidade.paginator.num_pages }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
          </li>

            {% endif %}
        </nav>
        </div
    </section>


</div>

    </section> <!-- FIM DE SESSÃO RAMAIS -->
 </main>

<div>
     <br>
     <br>
     <br>
</div>
{% endblock %}