{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Ramais Sebrae{% endblock %}
{% block content %}

<main>

    {% if messages %}
     <br>
        <div class="msg">
       <ul>
            {% for message in messages %}
            <li>{% if message.tags %}{% endif %}<p class="msgp">{{ message }}</p></li>
            {% endfor %}
        </ul>
             </div>

{% endif %}

    <section> <!-- Seção aniversário -->
        {% for ramal in ramais %}
            {% if ramal.dia_de_nascimento ==  hora.day and ramal.mes_de_nascimento ==  hora.month %}
                <br>
                <br>
                <div style="overflow-x:auto;">
                    <p class ="parabens" align="center"><b><img src="{% static 'imagens/parabens.jpeg' %}" class="balao"alt="balao-de-aniversario">Feliz aniversário <img src="{% static 'imagens/parabens.jpeg' %}" class="balao1"alt="balao-de-aniversario"></b></p>
                    <br>
                    <p align="center"><b>Confira quem são os aniversariantes do dia :</b></p>
                    <table align="center" class="tabela-2">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Nome</th>
                                <th>Unidade</th>
                                <th>Ramal</th>
                                <th>Aniversario</th>
                                <th>Função</th>
                            </tr>
                    </thead>
                     {{ "<!--" }}
                        {%endif%}
                        {%endfor%}
                       <span style="display: none;"{{ "-->" }}</span>
                    <tbody>
                        {% for ramal in ramais %}
                            {% if ramal.dia_de_nascimento ==  hora.day and ramal.mes_de_nascimento ==  hora.month%}
                                <tr>
                                    <td ><img src="/media/{{ramal.foto}}" alt="foto-de-perfil-aniversario" class ="img-div"></td>
                                    <td >{{ramal.nome}}</td>
                                    <td>{{ramal.unidade}}</td>
                                    <td>{{ramal.ramal}}</td>
                                    <td>{{ramal.dia_de_nascimento}}/{{ramal.mes_de_nascimento}}</td>
                                    <td>{{ramal.Função}}</td>
                                </tr>
                     {%  endif %}
                        {%  endfor %}
                </tbody>
                 </table>
             <br>
                </div>
    <br>

    <br>
    </section> <!-- FIM DA SEÇÃO ANIVERSÁRIO -->
    <h1 align="center"><b>Lista de Ramais Sebrae</b></h1>
    <br>
    <section> <!-- Seção dos Ramais -->
        <div class="container">
            {% for unidades in unidade %}
            <br>
                {% if unidades.unidade__sigla == None %}
                     <h2>SEM UNIDADE</h2>
                        <p>Verifique seu perfil e escolha uma unidade</p>
                {% else %}
                    <h2><a href="/unidade/{{unidades.unidade__sigla}}">{{unidades.unidade__sigla}}</a></h2>
                {% endif%}
            <div class="table-responsive">
                <table class="table">
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Nome</th>
                        <th>Ramal</th>
                        <th>E-mail</th>
                        <th>Whatsapp</th>
                        <th>Aniversário</th>
                        <th>Função</th>
                        {% if user.is_superuser %}
                            <th>Edição</th>
                        {%endif%}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    {% for ramal in ramais %}
                        {% if unidades.unidade__sigla == ramal.unidade.sigla %}
                            <td><img src="/media/{{ramal.foto}}" alt="foto-de-perfil"class = "img-div"></td>
                            <td>{{ramal.nome}}</td>
                            <td>{{ramal.ramal}}</td>
                            <td>{{ramal.user.email}}</td>
                            <td>{{ramal.whatsapp}}</td>
                            <td> {{ramal.dia_de_nascimento}}/{{ramal.mes_de_nascimento}}</td>
                            <td>{{ramal.Função}}</td>
                            {% if user.is_superuser %}
                                {% for unidade in unidades %}
                                    {% if forloop.first %}
                                        {% if user.ramais.unidade == ramal.unidade and user.ramais.unidade != None  %}
                                             <td><a href = "/editar-perfil/{{ramal.id}}"><i class="fas fa-clipboard-list"></i></a>&nbsp<a href="/delete/{{ramal.user.id}}" class="confirmar" onclick="return confirm('Voce deseja deletar esse ramal ?')"> <i class="fas fa-trash"></i></a></td>
                                        {% else %}
                                            <td>Sem permissão</td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                    </tr>
                </tbody>
                        {%endif%}
                    {%endfor%}
                </table>

                </div>
            <br>
            <br>

         {%endfor%}

        </div>
    </section>


 </main>

<div>
     <br>
     <br>
     <br>
     <br>
</div>
{% endblock %}