{% extends 'base.html' %}
{% load bootstrap%}
{% load static %}
{% load staticfiles %}
{% block title %}Registro{% endblock %}
{% block content %}

<section>
    <br>
    <br>
    <br>
    <div class="col-md-6 offset-md-3">
        <div class="card auth-card">
            <div class="card-body">
                <h2 align="center"><b>Registro</b></h2>
                <form method="POST" action="." class="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{user_form|bootstrap}}
                    {{form|bootstrap}}
                    <br>
                    <br>
                    <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                </form>
            </div>
        </div>
    </div>
 <br>
    <br>
    <br>
    <br>

</section>


{% endblock %}
