{% extends 'base.html' %}

{% block title %}{{nome}}{% endblock %}

{% block content %}

<div>
    <br>
</div>
{% if user.is_superuser %}
    {% for unidade in unidades %}
        {% if user.ramais.unidade.sigla == unidade.sigla  %}
            {% if unidade.sigla == nome %}
                <br>
                <h4 align="center">&nbsp&nbsp<a href="/editar-unidade/{{unidade.id}}"><i class="fas fa-clipboard-list"></i></a>&nbsp&nbsp<a href="/deletar-unidade/{{unidade.id}}" onclick="return confirm('Voce deseja deletar essa UNIDADE ?')"><i class="fas fa-trash"></i></a></h4>
            {% endif %}
    {% endif %}
    {% endfor %}
{% endif %}
{% for unidades in unidade %}
    {% if unidades.unidade__sigla == nome %}
    <div align="center" >
    <br>
    <br>
        <h1><b>{{unidades.unidade__nome_completo}} - {{unidades.unidade__sigla}}</b></h1>
        <br>
        <br>
        <div class="container">
            <p class="unidade">{{unidades.unidade__descrição}}</p>
        </div>
        </div>
<br>


<div class="container">
    <br>
    <br>
    <h4>Membros :</h4>

          <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                  <th>Foto</th>
                <th>Nome</th>
                <th>Ramal</th>
                <th>E-mail</th>
                <th>Whatsapp</th>
                <th>Aniversário</th>
                  <th>Função</th>
                   {% if user.is_superuser %}
                        <th>Edição</th>
                    {%endif%}
              </tr>
            </thead>
            <tbody>
            {% for ramal in ramais %}
                {% if ramal.unidade.sigla == nome %}
                <tr>
                <td><img src="/media/{{ramal.foto}}" class = "img-div"  alt ="foto-do-perfil"></td>
                <td>{{ramal.nome}}</td>
                <td>{{ramal.ramal}}</td>
                <td>{{ramal.user.email}}</td>
                <td>{{ramal.whatsapp}}</td>
                <td> {{ramal.dia_de_nascimento}}/{{ramal.mes_de_nascimento}}</td>
                <td>{{ramal.Função}}</td>
                  {% if user.is_superuser %}
                        {% for unidade in unidades %}
                            {% if forloop.first %}
                                {% if user.ramais.unidade == ramal.unidade %}
                                    <td><a href = "/editar-perfil/{{ramal.id}}"><i class="fas fa-clipboard-list"></i></a> &nbsp<a href="/delete/{{ramal.user.id}}" class="confirmar" onclick="return confirm('Voce deseja deletar esse ramal ?')"> <i class="fas fa-trash"></i></a></td>
                                {% else %}
                                    <td>Sem permissão</td>
                                {% endif %}
                    {% endif %}
                {% endfor %}
                    {% endif %}
              </tr>
            </tbody>
                {%endif%}
              {%endfor%}

          </table>
          </div>
        </div>
<br>

 {%endif%}
{%endfor%}

<div>
     <br>
     <br>
     <br>
     <br>
    <br>
</div>
{% endblock %}