body{
    font-family:Arial;
    height:100%;
    margin:0;
    position:relative;
    margin-bottom:50px;

}
.edcar_letter{
    font-size:180px;
}
.nav-item{
    padding-right:40px;
}

.fas fa-user-plus{
    height: 55px;

}

#menu{ /* MENU */
    position: relative;
    background: #005296;
    float:right;
    top:8px;

}

h1{
  font-weight:bold;
}


header{ /* CABEÇALHO */
    float: left;
    background-color: #005296;
    width:100%;

}

.logo { /* LOGOTIPO */
    float:left;
    height: 70px;
    margin-left:10px;
}

.logo-footer { /* LOGOTIPO */
    float:left;
    height: 68px;
    display:block
    
}


li a:hover{ /* passando o mouse no menu */
    background-color: #007CC7;
    text-decoration: none;
    padding:7px;
    color: white;
    font-size:18px;

}

#search{

    width:330px;
    height:40px;
    border-radius: 30px;
    font-size:15px;
    font-weight:bold;
}
ul{ /* LISTA DO MENU*/
    list-style-type: none;
    color: white;
}

a{ /* LINKS*/
    text-decoration: none;
    color: white;

}
.bolo-img{
    width:38px;
    margin-left:8px;
}
#tabela-aniversario{ /* ESTILIZAÇÃO DA TABELA DE ANIVERSÁRIO */
    border: 1px solid #ddd;
    border-collapse: collapse;
    text-align:left;
    width: 80%;
    overflow-x:auto;

}
.th-ani,.td-ani{ /* ESTILIZAÇÃO DA TABELA DE ANIVERSÁRIO */
    text-align: left;
    padding: 15px;
}
.img-div{
     border-radius: 30px;
    height: 55px;
    overflow: hidden;
    width: 65px;
}



.table-responsive{ /*TABELA DOS RAMAIS*/
    border: 1px solid #ddd;
    overflow: scroll;
    overflow: auto;
    text-align:center;
    border-collapse: collapse;
    border-spacing: 0;
    width: 50%;

}

.container-fluid .row {
    margin: 0;
}
.copyright{
    text-align:center;
    color: white;
}



.container-fluid .row {
    margin: 0;
}

.img2-div {
    border-radius: 100px;
    height: 45px;
    overflow: hidden;
    width: 45px;
    margin-right:3px;
}

.card auth-card{
    border: 5px solid #ddd;

}


.tabela-2{
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
  border: 1px solid #ddd;
  text-align: center;
}

th, td {

  padding: 20px;
}

.add-div {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #FFF;
    padding: 8px;
    border-radius: 5px;

    width:180px;
}


::-webkit-scrollbar-track { /*ESTILIZAÇÃO BARRA DE ROLAGEM */
    background-color: #F4F4F4;
}
::-webkit-scrollbar { /*ESTILIZAÇÃO BARRA DE ROLAGEM */
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb { /*ESTILIZAÇÃO BARRA DE ROLAGEM */
    background: #F4F4F4;

}

/*DEIXAR O FOOTER LA EMBAIXO */
html, body{ height:100%; margin:0; }

.rodape{  /*FOOTER*/
    background: #005296;
    position:relative;
    width:100%;
    height:40%;
    padding:10px; 8%;

}

body{
  display:flex;
  flex-direction:column;
}

footer{
  margin-top:auto;
}/*FIM*/


.parabens{ /* "TITULO" PARABENS*/
    font-size:42px;
}

.balao1{ /*BALAO DE ANIVERSARIO*/

    width:38px;
    margin-left:8px;
}

.balao{/*BALAO DE ANIVERSARIO*/

    width:38px;
    margin-right:20px;
}

li {
    padding:5px;
    font-weight:bold;
    font-size:16px;
    margin:5px;
    color:black;
}

.unidade {
    text-align: justify;
	text-indent: 4px; <!-- primeiro parágro tem um espaço no inicio-->
    letter-spacing: 3px;
	line-height: 50px;
	word-spacing: 10px;
	width: 48%;
	margin-left:  10px;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  border-radius: 30px;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  color: #aaa;

}